@import "../commons/variables";
@import "../commons/placeholders";

.container {
    div {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    h1,
    h3 {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    h1 {
        font-size: $font-size-medium;
    }

    h3 {
        font-size: $font-size-medium-small;
    }

    span {
        display: block;
        line-height: 1.25;
    }
}
