@import "../commons/variables";
@import "../commons/placeholders";

.container {
    div {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    h1 {
        font-size: $font-size-medium-small;
    }

    h3 {
        font-size: $font-size-normal-big;
    }
}
