@import "../commons/variables";
@import "../commons/placeholders";

.container {
    @extend %page-inner;

    margin-top: 50px;
    margin-bottom: 50px;

    .header {
        margin-bottom: 30px;
    }

    .canvas {
        margin: 0 auto 15px;
    }

    .gameOptions {
        margin: 0 auto 15px;
    }

    .pauseButton {
        @extend %reset-button;

        font-family: $font-game;
        font-size: $font-size-medium;
        padding: 10px 30px;

        border: 1px solid;
        border-color: inherit;
        border-radius: 3px;
    }

    .isActive {
        padding: 10px 52px;
    }

    .isDisabled {
        color: #888;
    }
}
