@import '../commons/variables';
@import '../commons/placeholders';

.container {
    .header {
        @extend %page-inner;

        margin-top: 20px;
        margin-bottom: 20px;
    }

    .game {
        width: 100%;
        max-width: 415px;
        margin-bottom: 20px;
    }

    .footer {
        margin-bottom: 20px;
    }

    @media #{$mq-small-screen} {
        .header {
            margin-top: 50px;
            margin-bottom: 30px;
        }

        .footer {
            margin-bottom: 50px;
        }
    }
}
