@import "../commons/variables";
@import "../commons/placeholders";

.container {
    @extend %page-inner;

    margin-top: 50px;
    margin-bottom: 50px;

    .header {
        margin-bottom: 30px;
    }

    .canva {
        margin: 0 auto 30px;
    }

    .pauseButton {
        font-size: $font-size-normal-big;
        padding: 5px 50px;
    }
}
