/**
 * Commons
 */
@import "commons/variables";
@import "commons/placeholders";
@import "commons/fonts";
@import "commons/reset";
@import "commons/general";

body {
    background: $color-background;
    color: $color-text;

    font-family: $font-text;
    font-size: $font-size-normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;

    text-rendering: optimizeLegibility;

    letter-spacing: 0.025em;
}
