@import 'variables';

%fullscreen {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

%page-inner {
    margin-left: 10px;
    margin-right: 10px;

    @media #{$mq-small-screen} {
        margin-left: 20px;
        margin-right: 20px;
    }

    @media #{$mq-medium-screen} {
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;
    }

    @media #{$mq-large-screen} {
        max-width: 960px;
    }
}

%image {
    display: block;
    max-width: 100%;
}

/**
 * Reset
 */
%reset-button {
    display: inline-block;
    position: relative;
    padding: 0;
    border: 0;
    background: transparent;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    appearance: none;

    user-select: none;
    touch-action: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &:focus {
        outline: none;
    }
}

%reset-input {
    padding: 0;
    border: 0;
    background: transparent;
    font-family: inherit;
    cursor: pointer;
    appearance: none;
}
