/**
 * Colors
 */
$color-black: #000;
$color-white: #fff;
$color-background: $color-black;
$color-text: $color-white;

/**
 * Fonts
 */
$font-text: "Inconsolata", sans-serif;
$font-game: "Visitor", monospace;

$font-size-smaller: 10px;
$font-size-small: 12px;

$font-size-normal-small: 14px;
$font-size-normal: 16px;
$font-size-normal-big: 18px;

$font-size-medium-small: 20px;
$font-size-medium: 24px;
$font-size-medium-big: 28px;

$font-size-big-small: 40px;
$font-size-big: 50px;
$font-size-bigger: 60px;

$line-height-text: 1.15;

/**
  * Screen size
  */
$small-screen: 580px;
$medium-screen: 960px;
$large-screen: 1280px;
$x-large-screen: 1920px;

/**
  * Media queries
  */
$mq-small-screen: "only screen and (min-width: #{$small-screen})";
$mq-medium-screen: "only screen and (min-width: #{$medium-screen})";
$mq-large-screen: "only screen and (min-width: #{$large-screen})";
$mq-x-large-screen: "only screen and (min-width: #{$x-large-screen})";
