@import "../commons/variables";
@import "../commons/placeholders";

.container {
    display: block;
    position: relative;
    overflow: hidden;

    background-image: url(../../images/starynight.png);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;

    .overlayDim {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.25);

        .overlayText {
            color: #fff;
            font-size: $font-size-big-small;
            font-family: $font-game;
        }
    }

    .touchButton {
        @extend %reset-button;

        position: absolute;
        border-style: dotted;
        border-color: #fff;
    }

    .leftButton {
        width: 50%;
        height: 30%;

        top: 70%;
        left: 0;
        border-width: 1px 1px 0 0;
    }

    .rightButton {
        width: 50%;
        height: 30%;

        top: 70%;
        left: 50%;

        border-width: 1px 0 0;
    }
}
