@import "../commons/variables";
@import "../commons/placeholders";

.container {
    display: block;
    position: relative;
    overflow: hidden;

    background-image: url(../../images/starynight.png);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;

    .dimOverlay {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.25);
    }
}
