@import "../commons/variables";
@import "../commons/placeholders";

.container {
  overflow: hidden;

  .background {
    position: relative;

    background-image: url(../../images/starynight.png);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
  }
}
