@import "../commons/variables";
@import "../commons/placeholders";

.container {
    display: block;
    position: relative;
    overflow: hidden;

    background-image: url(../../images/starynight.png);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
}
