@import "../commons/variables";
@import "../commons/placeholders";

.container {
    display: block;
    position: relative;
    overflow: hidden;

    .staryNight {
        @extend %image;
    }

    .topBar {
        position: absolute;

        top: 0;
        left: 0;
    }
}
