@import "../commons/variables";
@import "../commons/placeholders";

.container {
    margin: 0 auto;
    font-family: $font-game;

    .canvas {
        margin-bottom: 15px;
    }

    .gameOptions {
        display: flex;
        flex-direction: row;
        margin: 0 auto 15px;
    }

    .pauseButton {
        @extend %reset-button;

        width: 50%;
        margin-right: 10px;
        padding: 10px 0;

        border: 1px solid;
        border-color: inherit;
        border-radius: 3px;

        font-family: $font-game;
        font-size: $font-size-medium;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        &:disabled {
            color: #888;

            &:hover {
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }

    .healthBar {
        width: 50%;
    }

    @media #{$mq-small-screen} {
        .canvas {
            margin-bottom: 30px;
        }
    }
}
