@import '../commons/variables';
@import '../commons/placeholders';

.container {
    margin: 0 auto;
    font-family: $font-game;

    .canvas {
        margin-bottom: 10px;
    }

    .gameOptions {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
    }

    .pauseButton {
        @extend %reset-button;

        flex-grow: 1;

        height: 40px;
        margin-right: 10px;
        padding: 10px 0;

        border: 1px solid;
        border-color: inherit;
        border-radius: 3px;

        font-family: $font-game;
        font-size: $font-size-medium;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        &:disabled {
            color: #888;

            &:hover {
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }

    .healthBar {
    }

    @media #{$mq-small-screen} {
    }
}
