@import "../commons/variables";
@import "../commons/placeholders";

.container {
    display: inline-flex;
    flex-direction: row;

    height: 38px;

    .hamburger {
        width: auto;
        height: 100%;

        margin-right: 2px;

        &:last-child {
            margin-right: 0;
        }
    }
}
